* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

button,a,ul,li, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  text-decoration: none;
}

:root {
  --backgroundColor: hsla(0, 0%, 0%, 0.726);
  --forgroundColor:hsl(0, 0%, 100%);
  --bodyChangeTime:500ms;
  --rippleTime:700ms;
}

@media(prefers-color-scheme:dark){
  :root{
  --backgroundColor:hsla(0, 0%, 0%);
  --forgroundColor: hsl(0, 0%, 100%);
}

} 
.lightMode {
  --backgroundColor: hsl(0, 0%, 100%);
  --forgroundColor:hsla(0, 0%, 0%);
}

.darkMode {
  --backgroundColor:hsla(0, 0%, 0%);
  --forgroundColor: hsl(0, 0%, 100%);
}

body {
  font-family:sans-serif;
  background: var(--backgroundColor);
  height: 100vh;
  width: 100vw;
  transition:background-color 0s ease-in-out var(--bodyChangeTime);
}

.header{
  padding: 15px 30px ;
  background-color: hsla(0, 0%, 80%, 0.141);

}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-items{
  display: flex;
  align-items: center;
}


.homeButton{
  padding:5px 20px;
  border-radius: 10px;
  color:var(--backgroundColor);
  background-color:var(--forgroundColor);
  transition:color var(--rippleTime) ease-in-out 100ms;
  transition:background-color var(--rippleTime) ease-in-out 100ms;
}

#svgContainer {
  aspect-ratio: 1;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items:center;
  padding: 7px;
  background-color: hsla(0, 0%, 80%, 0.123);


  /* background-image:radial-gradient(
    hsla(0, 0%, 50%, 0),
    hsla(0, 0%, 50%, 1)
    )
    ; */
    /* transition:background-color 150ms ease-in; */
}

#svgContainer:hover {
  background-color: hsla(0, 0%, 50%, 0.4);
}

svg {
  height: 35px;
  width: 35px;
  fill:var(--forgroundColor);
}

.lightMode #sun{
  transform: translate(55px ,-30px) ;
  fill: var(--forgroundColor);
  transition:transform 300ms ease-out;
}

.darkMode #sun {
  transform-origin: center;
  transition:transform 300ms ease-out;
  animation: sunAnimation 400ms ease-out  3s; 
}

.lightMode  #rings{
  transform-origin: center;
  transform: rotateZ(310deg);
  transition:transform 900ms ease-out;
  fill: var(--forgroundColor);
  animation: ringsAnimation 500ms cubic-bezier(0, 3.26, 1, 3.26)  3s; 
}

.darkMode #rings {
  transform: rotateZ(-10deg);
  transition:transform 900ms ease-out;
  transform-origin: center;
}

#ripple{
  background-color:var(--backgroundColor);
  transform-origin: center;
  transform:scale(0);
  position:absolute;
  height: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  z-index: -1;
}

.lightMode #ripple{
  animation: rippleAnimation var(--rippleTime) ease-out  ; 
}

.darkMode #ripple{
  animation: ripple2Animation var(--rippleTime) ease-out  ; 
}

main{
  display: flex;
  justify-content: space-between;
}

.text-containers{

  color: var(--forgroundColor);
  background-color: hsla(0, 0%, 80%, 0.141);
  padding: 1rem;
  text-align: justify;
  width:50%;
  margin:1rem;
}

.image-containers{
  margin:1rem;

width:50%;
overflow: hidden;
display: flex;
flex-wrap: wrap;
object-fit: cover;

}

img{
width:30%;
background-color: hsla(0, 0%, 80%, 0.141);
padding: .7rem;
margin:.2rem;
filter: grayscale(100%);
}





@keyframes rippleAnimation {
  0%{transform:scale(0.01)}
  85%{transform:scale(60)}
  99.9%{transform:scale(60)}
  100%{transform:scale(0);}
}
@keyframes ripple2Animation {
  0%{transform:scale(0.01)}
  85%{transform:scale(60)}
  99.9%{transform:scale(60)}
  100%{transform:scale(0);}
}

@keyframes ringsAnimation{
  0%{transform:rotateZ(360deg)}
  15%{transform:rotateZ(350deg)}
  20%{transform:rotateZ(370deg)}
  30%{transform:rotateZ(350deg)}
  40%{transform:rotateZ(360deg)}
  50%{transform:rotateZ(375deg)}
  60%{transform:rotateZ(360deg)}
  70%{transform:rotateZ(350deg)}
  80%{transform:rotateZ(370deg)}
  90%{transform:rotateZ(350deg)}
  100%{transform:rotateZ(355deg)}
}

@keyframes sunAnimation {
  0%{transform:scale(0.01)}
  85%{transform:scale(1.1)}
  100%{transform:scale(1.1)}
}


@media (max-width: 840px) {
  main{
    display:block;
  }
  .image-containers{
    display: block;
    width:95%;
    margin:auto;

  }
  .text-containers{
    width:92%;
    margin:auto;
  }
  img{
    width:47%;
  }

  
}

